<!-- Embla Buttons -->
<button class="embla__button embla__button--prev" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" class="embla__button__svg" width="27.042" height="52.584" viewBox="0 0 27.042 52.584">
        <path data-name="Path 59320" d="m0 50.463 25.232-25.232L0 0" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px" transform="translate(1.061 1.061)"/>
    </svg>
</button>
<button class="embla__button embla__button--next" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" class="embla__button__svg" width="27.042" height="52.584" viewBox="0 0 27.042 52.584">
        <path data-name="Path 59320" d="m0 50.463 25.232-25.232L0 0" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px" transform="translate(1.061 1.061)"/>
    </svg>
</button>